.fa {
	padding: 15px;
	font-size: 0.73em;
	width: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-github {
	background: #24292E;
	color: white;
}

.fa-linkedin-square {
	background: #225982;
	color: white;
}

.fa-envelope {
	background: #EB4235;
	color: white;
}