:root {
	--black: #161616;
	--dark-gray: #202024;
	--gray: #292A2A;
	--light-gray: #636666;
	--white: #FEFDFC;
	--orange: #f9ab6c;
}

body {
	margin: 0;
	background-color: var(--black);
	color: var(--white);
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 2fr 5fr 1fr;
	grid-template-areas: 
		"header		header		header		header"
		".			.			navbar		."
		".			sidebar		content		."
		".			footer		footer		.";
}


/* @media (max-width: 1200px) {
	.wrapper {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"header"
			"navbar"
			"content"
			"footer";
	}
	#navbar ul {
		display: flex;
		justify-content: space-between;
	}
} */

#header {
	grid-area: header;
	background-color: var(--dark-gray);
	padding: 20px;
}

/* Navbar */

#navbar {
	grid-area: navbar;
	margin-bottom: -20px;
	display: table;
	border: var(--light-gray) 1px solid;
	border-radius: 15px 15px 0 0;
}

#navbar ul {
	margin: 0;
	padding: 0;
}

#navbar li {
	display: table-cell;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	box-sizing: border-box;
}

#navbar a {
	display: inline-block;
	position: relative;
	font-size: 24px;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.25s ease-out;
}

#navbar a:hover {
	color: var(--white);
}

#navbar a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

#navbar a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

body.home #navbar li.home a,
body.skills #navbar li.skills a,
body.projects #navbar li.projects a,
body.contact #navbar li.contact a {
	color: var(--white);
	font-weight: bold;
}

body.home #navbar li.home a:after,
body.skills #navbar li.skills a:after,
body.projects #navbar li.projects a:after,
body.contact #navbar li.contact a:after {
	background-color: var(--orange);
	transform: scaleX(1);
	transform-origin: bottom left;
}

/* Sidebar */

#sidebar {
	grid-area: sidebar;
}

#profile-picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	width: 80%;
	border-radius: 50%;
	border: var(--light-gray) 1px solid;
}

/* Icons */

#icon-wrapper {
	display: flex;
	justify-content: center;
}

.fa {
	margin: 5px;
	padding: 15px;
	font-size: 0.73em;
	width: 50px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-github {
	background: #24292E;
	color: white;
}

.fa-linkedin-square {
	background: #225982;
	color: white;
}

.fa-envelope {
	background: #EB4235;
	color: white;
}

/* Content */
.content {
	grid-area: content;
	padding-left: 50px;
	padding-right: 50px;
	border: var(--light-gray) 1px solid;
	border-radius: 0 0 15px 15px;
}

h1 {
	font-size: 48px;
}

p {
	font-size: 20px;
}

#footer {
	grid-area: footer;
	padding: 20px;
	margin-top: 20px;
	border-top: var(--light-gray) 1px solid;
	text-align: center;
}

#footer ul {
	margin: 0;
	padding: 0;
}

#footer li {
	display: inline;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#footer a {
	display: inline-block;
	position: relative;
	font-size: 14px;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.25s ease-out;
}

#footer a:hover {
	color: var(--white);
}

#footer a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

#footer a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}