.Project {
	margin: 3em 0;
	padding: 2.5em;
	width: min(60%, 1200px);
	background-color: var(--gray);
	color: var(--white);
	word-wrap: break-word;
	border-radius: 50px;
	display: grid;
	grid-template-areas: 
		'ProjectHeading		ProjectImage'
		'ProjectDescription	ProjectImage';
}

/* If project comes after another project, don't add top margin */
.Project + .Project {
	margin-top: 0;
}

.Project h1 {
	font-size: 2.5em;
	margin-bottom: 0.75em;
}

.Project h2 {
	font-size: 1.375em;
	font-family: var(--font-primary);
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 5px;
}

.Project p {
	font-size: 1.5em;
	line-height: 150%;
}

.Project p + p {
	margin-top: 1.25em;
}

.Project img {
	grid-area: ProjectImage;
	align-self: center;
	max-width: 300px;
	max-height: 300px;
	margin-left: 2em;
	margin-bottom: 1em;
	float: right;
}

.ProjectHeading {
	grid-area: ProjectHeading;
}

.ProjectDescription {
	grid-area: ProjectDescription;
}

@media only screen and (max-width: 1200px) {
	.Project {
		display: block;
		width: 90%;
	}
}

@media only screen and (max-width: 700px) {
	.Project img {
		max-width: min(150px, 50%);
		max-height: min(150px, 50%);
	}

	.Project {
		font-size: 0.75rem;
	}
}

.javascript {
	color: var(--yellow);
}

.reactjs {
	color: var(--blue);
}

.java {
	color: var(--orange);
}