.Project {
	margin: 3rem;
	padding: 2.5rem;
	width: min(60%, 1200px);
	background-color: var(--gray);
	color: var(--white);
	word-wrap: break-word;
	border-radius: 50px;
	display: grid;
	grid-template-areas: 
		'ProjectHeading		ProjectImage'
		'ProjectDescription	ProjectImage';
}

/* If project comes after another project, don't add top margin */
.Project + .Project {
	margin-top: 0;
}


.Project h1 {
	font-size: 40px;
	margin-bottom: 1rem;
}

.Project h2 {
	font-size: 22px;
	font-family: var(--font-primary);
	font-weight: normal;
	text-transform: uppercase;
	padding-left: 5px;
}

.Project p {
	line-height: 150%;
}

.Project p + p {
	margin-top: 2rem;
}

.Project img {
	grid-area: ProjectImage;
	align-self: center;
	max-width: 300px;
	max-height: 300px;
	margin-left: 2rem;
	float: right;
}

.ProjectHeading {
	grid-area: ProjectHeading;
}

.ProjectDescription {
	grid-area: ProjectDescription;
}

@media only screen and (max-width: 1200px) {
	.Project {
		display: block;
	}

	.Project img {
		max-width: 50%;
		max-height: 50%;
	}
}

.javascript {
	color: var(--yellow);
}

.reactjs {
	color: var(--blue);
}

.java {
	color: var(--orange);
}