.Hero {
	background-color: var(--gray);
	height: 65vh;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Title {
	margin-right: 4rem;
	margin-bottom: 2rem;
}

.Title h1 {
	font-size: 128px;
	color: var(--white);
}

.Title h2 {
	font-size: 52px;
	font-family: var(--font-primary);
	font-weight: normal;
	color: var(--blue);
}

.ProfilePicture {
	display: block;
	margin: 0.5rem;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: var(--light-gray) 1px solid;
}

.Arrow {
	--size: 75px;
	width: 100%;
	height: var(--size);
	pointer-events: none;
	margin-bottom: -25px;
}

.Arrow > div {
	position: absolute;
    background: var(--gray);
}

.Arrow > div:nth-child(1) {
	width: 0;
	height: 0;
	left: calc(50% - var(--size) + 1px);
	border-bottom: var(--size) solid var(--white);
	border-right: var(--size) solid transparent;
	/* Get rid of top pixel errors on mobile */
	margin-top: -1px;
	padding-top: 1px;
}

.Arrow > div:nth-child(2) {
	width: 0;
	height: 0;
	left: calc(50% - 1px);
	border-bottom: var(--size) solid var(--white);
	border-left: var(--size) solid transparent;
	/* Get rid of top pixel errors on mobile */
	margin-top: -1px;
	padding-top: 1px;
}

/* Mask left of arrow */
.Arrow > div:nth-child(3) {
	width: calc(50% + 2px);
	height: var(--size);
	left: calc(-1 * var(--size));
	background-color: var(--white);
}

/* Mask right of arrow */
.Arrow > div:nth-child(4) {
	width: calc(50% - var(--size) + 2px);
	height: var(--size);
	left: calc(50% + var(--size) - 2px);
	background-color: var(--white);
}

/* Mask bottom of arrow */
.Arrow > div:nth-child(5) {
	width: calc(2 * var(--size));
	height: 2px;
	left: calc(50% - var(--size));
	margin-top: calc(var(--size) - 1px);
	background-color: var(--white);
}