.Cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* If cards comes after content, don't add top margin to first card */
.Content + .Cards .Card:first-child {
	margin-top: 0;
}

.Slideshow {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Slideshow .btn {
	width: 5em;
	height: 5em;
	min-width: 5em;
	margin: 0 2em;
	top: 50%;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: rgba(19, 19, 19, 0.39);
	color: #fff;
	cursor: pointer;
	transition: background-color 0.2s ease;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.Slideshow .btn:hover {
	background-color: rgba(19, 19, 19, 0.829);
}

.Slideshow .prevBtn {
	background-image: url('images/left-arrow.png');
}

.Slideshow .nextBtn {
	background-image: url('images/right-arrow.png');
}

@media only screen and (max-width: 800px) {
	.Slideshow .btn {
		font-size: 0.5rem;
		margin: 0 1em;
	}

	.Slideshow .Card {
		width: calc(100% - 11em);
	}
}