.Card {
	margin: 3em 0;
	padding: 2.5em;
	width: min(60%, 1200px);
	background-color: var(--gray);
	color: var(--white);
	word-wrap: break-word;
	border-radius: 50px;
	display: grid;
	grid-template-areas: 
		'CardHeading		CardImage'
		'CardDescription	CardImage';
}

/* If card comes after another card, don't add top margin */
.Card + .Card {
	margin-top: 0;
}

.Card h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}

.Card h2 {
	font-size: 1.375em;
	font-family: var(--font-primary);
	font-weight: normal;
	text-transform: uppercase;
}

.Card p {
	font-size: 1.5em;
	line-height: 150%;
}

.Card p + p {
	margin-top: 1.25em;
}

.Card ul {
	padding-left: 1.5em;
}

.Card ol {
	padding-left: 1.5em;
}

.Card li {
	font-size: 1.5em;
}

.Card img {
	grid-area: CardImage;
	align-self: center;
	max-width: 300px;
	max-height: 300px;
	margin-left: 2em;
	margin-bottom: 1em;
	float: right;
}

.CardHeading {
	grid-area: CardHeading;
}

.CardDescription {
	grid-area: CardDescription;
}

@media only screen and (max-width: 1200px) {
	.Card {
		display: inline-block;
		width: 90%;
	}
}

@media only screen and (max-width: 800px) {
	.Card img {
		max-width: min(150px, 50%);
		max-height: min(150px, 50%);
	}

	.Card {
		font-size: 0.6rem;
	}
}