.CardButton {
	height: 3em;
	display: inline-block;
	vertical-align: top;
	margin-right: 1em;
	font-size: 1rem;
	margin-top: 1em;
	user-select: none;
}

.CardButton a {
	display: inline-block;
	border-radius: 1.5em;
	background-color: var(--green);

	height: 100%;
	vertical-align: middle;
	padding: 0 2em;
	color: var(--white);
	font-size: 0.875em;
	font-weight: bold;
	letter-spacing: 0.1375em;
	text-decoration: none;
	text-transform: uppercase;
}

/* Add spacer for vertical alignment */
.CardButton a:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.CardButton a span {
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 800px) {
	.CardButton {
		font-size: 0.75rem;
	}
}