.Navbar {
	grid-area: Navbar;
	margin-bottom: -1.5rem;
	display: table;
	border: var(--light-gray) 1px solid;
	border-radius: 1rem 1rem 0 0;
}

.Navbar ul {
	margin: 0;
	padding: 0;
}

.Navbar li {
	display: table-cell;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	box-sizing: border-box;
}

.Navbar a {
	display: inline-block;
	position: relative;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.25s ease-out;
}

.Navbar a:hover {
	color: var(--white);
}

.Navbar a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.Navbar a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.Navbar a.active {
	color: var(--white);
	font-weight: bold;
}

.Navbar a.active:after {
	background-color: var(--orange);
	transform: scaleX(1);
	transform-origin: bottom left;
}