.Footer {
	padding: 1.5em;
	border-top: var(--light-gray) 1px solid;
	text-align: center;
}

.Footer ul {
	margin: auto;
	max-width: 1000px;
	padding: 0 3rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	list-style-type: none;
}

.Footer a {
	position: relative;
	font-size: 0.85em;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.25s ease-out;
}

.Footer a:hover {
	color: var(--white);
}

.Footer a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.Footer a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}