.Footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 100px;
	background-color: var(--gray);

	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer ul {
	display: inline-block;
	text-align: center;
	list-style-position: inside;
	list-style-type: none;
	color: var(--white);
	padding: 2rem 4rem;
}

.Footer li {
	display: inline;
}

.Footer li:after {
	content: ' ';
	letter-spacing: 8em;
	background-image: url('../../images/bullet.png');
	background-size: 6px;
	background-repeat: no-repeat;
	background-position: center center;
}

.Footer li:last-child::after {
	content: '';
}

.Footer a {
	display: table-cell;
	vertical-align: middle;
	line-height: 120%;
	font-size: 1rem;
	color: var(--white);
	text-decoration: none;
	white-space: nowrap;
}

.Footer a:hover {
	text-decoration: underline;
}