.Footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	margin-top: 100px;
	background-color: var(--gray);

	display: flex;
	justify-content: center;
	align-items: center;
}

.Footer ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-position: inside;
	list-style-type: none;
	color: var(--white);
}

.Footer li {
	display: inline;
}

.Footer li:after {
	content: '\2022';
	padding: 0 5rem;
}

.Footer li:last-child::after {
	content: '';
	padding: 0;
}

.Footer a {
	font-size: 0.75em;
	color: var(--white);
	text-decoration: none;
}

.Footer a:hover {
	text-decoration: underline;
}