:root {
	--black: #161616;
	--dark-gray: #202024;
	--gray: #292A2A;
	--light-gray: #636666;
	--white: #FEFDFC;
	--red: #FC846F;
	--orange: #F9AB6C;
	--yellow: #FCDB6F;
	--green: #96F791;
	--blue: #6C8BF9;
	--purple: #F796FA;
}

body {
	margin: 0;
	background-color: var(--black);
	color: var(--white);
	font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
	right: 5px;
	position:absolute;
}
 
::-webkit-scrollbar-thumb {
	background: var(--gray);
	border-radius: 10px;
}

.App {
	display: grid;
	padding-top: 2.5rem;
	gap: 1.5rem;
	grid-template-columns: 1fr 2fr 5fr 1fr;
	grid-template-areas: 
		".		.			Navbar		."
		".		Sidebar		Content		."
		".		Footer		Footer		.";
}

@media only screen and (max-width: 800px) {
	.App {
		grid-template-columns: 1fr 5fr 1fr;
		grid-template-areas: 
			".		Sidebar		."
			".		Navbar		."
			".		Content		."
			".		Footer		.";
	}
}

.Content {
	grid-area: Content;
	padding-left: 3rem;
	padding-right: 3rem;
	border: var(--light-gray) 1px solid;
	border-radius: 0 0 1rem 1rem;
	font-size: 22px;
}

.Content a {
	color: var(--blue);
}
