:root {
	--black: #232526;
	--white: #EEEEEE;
	--gray: #2A2C2D;
	--blue: #5294AD;
	--red: #BA3F55;
	--yellow: #F2E298;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	position: relative;
	height: 100vh;
	background-color: var(--white);
	color: var(--black);
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Ubuntu', sans-serif;
}

a {
	color: var(--blue);
}

.App {
	min-height: 100vh;
	position: relative;
}

.Content {
	margin: auto;
	max-width: 750px;
	padding: 3rem 3rem calc(3rem + 100px) 3rem;
}

.Content p + p {
	margin-top: 2rem;
}
