.Navbar {
	background-color: var(--black);
	height: 100px;
}

.Navbar ul {
	height: 100%;
	font-size: 32px;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.Navbar li {
	display: flex;
	text-align: center;
	box-sizing: border-box;
	padding-bottom: 8px;
}

.Navbar a {
	padding: 0.5rem 2rem;
	white-space: nowrap;
	text-decoration: none;
	color: var(--white);
}

.Navbar a:hover {
	text-decoration: underline;
}

.Navbar a.active {
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	color: var(--red);
}