.Navbar {
	margin: auto;
	max-width: 1000px;
	padding: 0 3rem;
	overflow: scroll;
}

.Navbar ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: min-content;
	justify-items: start;
	list-style-type: none;
}

.Navbar li {
	/* display: inline-block; */
	/* padding: 0 4rem; */
	text-align: center;
	box-sizing: border-box;
}

/* .Navbar li:first-child,
.Navbar li:last-child {
	padding: 0;
} */

.Navbar a {
	position: relative;
	color: var(--light-gray);
	text-decoration: none;
	transition: color 0.25s ease-out;
}

.Navbar a:hover {
	color: var(--white);
}

.Navbar a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: var(--white);
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.Navbar a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.Navbar a.active {
	color: var(--white);
	font-weight: bold;
}

.Navbar a.active:after {
	background-color: var(--orange);
	transform: scaleX(1);
	transform-origin: bottom left;
}