.Icons {
	display: flex;
	justify-content: center;
}

.Icons a span {
	display: none;
}

.fa {
	margin: 0.5rem;
	width: 3rem;
	height: 3rem;
	padding: 1rem;
	font-size: 3rem;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
}

.fa:hover {
	opacity: 0.7;
}

.fa-github {
	background: #24292E;
	color: white;
}

.fa-linkedin-square {
	background: #225982;
	color: white;
}

.fa-envelope {
	background: #EB4235;
	color: white;
}